<p>products works!</p>
<h1>Products</h1>
 
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>price</th>
            <th>description</th>
            <th>category</th>
            <th>image</th>
            <th>rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price|rupee}}</td>
            <td>{{product.description}}</td>
            <td>{{product.category}}</td>
            <td><img src={{product.image}} height="20%" width="20%"></td>
            <td>{{product.rating}}</td>
        </tr>

    </tbody>
</table>

