<div class="parent">
        <div class="left">
            <img src="/assets/image1.1.webp" height="15%"width="45%">
            <h5>Ken Kalil</h5>
            <h6>kenk@gmail.com</h6><hr>
            <p routerLink="interpolation">interpolation</p><br>
            <p routerLink="eventbinding">event binding</p><br>
            <p routerLink="apps">apps</p><br>
            <p routerLink="vehiclesummery">vehicle summery</p><br>
            <p routerLink="Accounts">Accounts</p><br>
            <p routerLink="home">home</p><br>
            <p routerLink="products">products</p><br>
            <p routerLink="createvehicle">createvehicle</p><br>
            <p routerLink="createaccounts">createaccounts</p><hr>
            <p routerLink="Employeeform">Employeeform</p>
            <p routerLink="Employeetable">Employeetable</p>
            <p routerLink="employeedetails">Employeedetails</p>
            <p routerLink="aboutcompany">aboutcompany</p>
            <p routerLink="contactus">contactus</p>
            <button (click) ="logout()">log out</button>

        </div>
        <div class="right">
            <router-outlet></router-outlet>
        
        </div>
</div>
